
body,
html {
  line-height: 1;
  font-family: -apple-system,Helvetica,sans-serif;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  background: #fff;
  color: #000;
  height: 100%;
}

html{
  font-size:26.666vw;
  touch-action: none;

}

@media screen and (min-width: 768px) {
  html {
    font-size: 205px;
  }
}

body{
  overflow: hidden;
  font-size: 0.14rem;
}

li{
  list-style: none;
}

input{
  outline: none;
}

