.slide-left-enter-active {
  animation-name: slide-left-in;
  animation-duration: 0.3s;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.slide-left-leave-active {
  animation-name: slide-left-out;
  animation-duration: 0.3s;
}
.slide-right-enter-active {
  animation-name: slide-right-in;
  animation-duration: 0.3s;
}
.slide-right-leave-active {
  animation-name: slide-right-out;
  animation-duration: 0.3s;
  position: absolute;
  z-index: 10;
}

.up-down-enter-active,
.up-down-leave-active{
  transition: all 0.3s;
}

.up-down-enter,
.up-down-leave-to{
  transform: translate3d(0,100%,0);
}

.slide-enter-active,
.slide-leave-active{
  transition: all 0.3s;
}

.slide-enter,
.slide-leave-to{
  transform: translate3d(-100% , 0 ,0);
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 1s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.fade-enter-active {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.fade-fast-enter-active,
.fade-leave-active {
  transition: opacity 1s;
}
.fade-fast-enter,
.fade-fast-leave-to {
  opacity: 0;
}

.fade-fast-enter-active {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@keyframes slide-left-in {
  0% {
    transform: translate3d(100%, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slide-left-out {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-30%, 0, 0);
  }
}

@keyframes slide-right-in {
  0% {
    transform: translate3d(-30%, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slide-right-out {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(100%, 0, 0);
  }
}