$font-size-xs: .1rem;
$font-size-s: .12rem;
$font-size-m: .14rem;
$font-size-l: .16rem;
$font-size-xl: .2rem;
$font-size-xxl: .3rem;

$green:#46a3ab;
$white:#fff;
$black:#010101;
$gray:#a2a2a2;
$red:#a64547;

