$font-size-xs: 0.12rem;
$font-size-s: 0.14rem;
$font-size-m: 0.16rem;
$font-size-l: 0.18rem;
$font-size-xl: 0.2rem;
$font-size-xxl: 0.30rem;

$theme-lighter:#e0f2f1;
$theme-light:#86ccca;
$theme:#3fa6a5;
$red:#eb4d44;
$yellow:#eedb5b;
$white:#fff;
$black:#010101;
$gray-light:#f4f5f7;
$gray:#949398;
$gray-deep:#5a5a5a;
$player-background:#222




